@import "tailwindcss";

/* .hover-btn:hover{
    background-color: red;
    p{
        transform: translateY(-50px)
    }
} */

.hero-carousel-track {
  animation: track 15s linear infinite;
  left: 0px
}

@keyframes track {
  from {  
    transform: translateX(0px);  
  }
  to {
    transform: translateX(calc( -1 * var(--loop-distance)));
  }
}

 @media (prefers-reduced-motion: reduce) {
  .hero-carousel-track {
    animation: none;
    transform: translate3d(0, 0, 0);
  }
}   
 